<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Stay_Healthy"
        tools:ignore="ExtraText">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD2Pw8IPk8VQvPK5j6iXptgP_F8nd7zy48" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />\n
        <activity android:name=".RegisterActivity" />\n
        <activity android:name=".z_AddJournalActivity" />\n
        <activity android:name=".z_ProfileActivity" />\n
        <activity android:name=".z_MapTrackActivity" />\n
        <activity android:name=".z_CalorieEstimatorActivity" />\n
        <activity android:name=".z_RecommendationsActivity" />\n

    </application>

</manifest>